# NextAuth
NEXTAUTH_SECRET=                          # Mesma secret do backend
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# API do backend (Railway)
NEXT_PUBLIC_API_URL=http://localhost:3333
